#projects {
  color: $mirage-yellow-light;  
  font-size:calc(10px + 1.5vw);
  font-weight: bold;
  font-family: $hk-grotesk;
  position: relative;
  margin: auto;
  text-shadow: 3px 3px $mirage-contrast, 2.5px 2.5px $mirage-contrast, 2px 2px $mirage-contrast, 
  1.5px 1.5px $mirage-contrast, 1px 1px $mirage-contrast, .5px .5px $mirage-contrast;
}