#projects {
  width: 80%;
  margin: auto;
  padding-top: 3vh;
  padding-bottom: 2vh;

  > div {
    display: flex;
    flex-direction: column;

    > div:last-child {
      width: 100%;
      height: inherit;
    }
  }
}

#project-header {
  font-family: $hk-grotesk;
  font-weight: bold;
  color: $mirage-yellow-light;
  font-size: calc(3vw + 10px); 
  text-shadow: 3px 3px $mirage-contrast, 2.5px 2.5px $mirage-contrast, 2px 2px $mirage-contrast, 
  1.5px 1.5px $mirage-contrast, 1px 1px $mirage-contrast, .5px .5px $mirage-contrast;
  cursor: default;
  width: fit-content;
  padding-bottom: 1.5vh;

  &::after {
    z-index: 15;
    position: relative;
    content: ""; 
    display: block; 
    margin: -2px auto;
    width: 85%; 
    border-bottom: 3px solid $mirage-yellow-light; 
    box-shadow: 3px 3px $mirage-contrast, 2.5px 2.5px $mirage-contrast, 2px 2px $mirage-contrast, 
    1.5px 1.5px $mirage-contrast, 1px 1px $mirage-contrast, .5px .5px $mirage-contrast;
  }
}

#img-container {
  height: fit-content;
  width: fit-content;
  margin-left: auto; margin-right: auto;
  
  > img {
    margin-top: 4vh;
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
}

#description-container {
  display: flex;
  justify-content: space-between;
  height: fit-content;
}

#projects-header {
  font-family: $hk-grotesk;
  font-weight: bold;
  color: $mirage-yellow-light;
  font-size: calc(2vw + 5px); 
  width: 40%;
  display: flex;
  flex-direction: column;
  text-shadow:
  1.5px 1.5px $mirage-contrast, 1px 1px $mirage-contrast, .5px .5px $mirage-contrast;

  > div {
    font-size: calc(1vw + 5px); 
    height: inherit;
    margin-top: auto; margin-bottom: auto;
  }
}

#links {

  > a {
    font-size: calc(1vw + 3px);
    margin-right: 10px;
    width: fit-content;
    display: block;

    &::after {
      z-index: 15;
      position: relative;
      content: ""; 
      display: block; 
      margin: -2px auto;
      width: 100%; 
      border-bottom: 3px solid $mirage-yellow-light; 
      box-shadow: 3px 3px $mirage-contrast, 2.5px 2.5px $mirage-contrast, 2px 2px $mirage-contrast, 
      1.5px 1.5px $mirage-contrast, 1px 1px $mirage-contrast, .5px .5px $mirage-contrast;
    }
  }
}

#technologies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  margin-top: auto; margin-bottom: auto;
  font-family: $hk-grotesk;

  > div {
    height: fit-content;
    width: fit-content;
    font-size: calc(1vw + 3px); 
    font-weight: bold;
    padding: calc(.5vw + 1px);
    margin-left: 5px; margin-bottom: 4px;
    border-radius: 30px;
    background-color: $background-dark;
    color: $mirage-yellow-light;
    text-shadow: .1em .1em $mirage-contrast, .2px .2px $mirage-contrast;
  }
}

@media only screen and (max-width: $transition) {
  #projects {
    padding-bottom: calc(2vh + 40px);
  }

  #project-header {
    margin: auto;
  }

  #technologies {
    width: 50%;
  }

  #img-container {
    > img {
      margin-top: 1vh;
    }
  }
}