#body {
  position: absolute;
  width: calc(96vw - 30px);
  margin-left: calc(4vw + 30px);
  background-color: $background;
}

.stop-transitions * {
  transition: none !important;
}

#footer {
  background-image: linear-gradient(transparent, $background);
  position: fixed;
  height: 20vh;
  bottom: 0;
  width: 100%;
  z-index: 10000;
}

#header {
  background-image: linear-gradient($background, transparent);
  position: fixed;
  height: 10vh;
  top: 0;
  width: 100%;
  z-index: 10000;
}

@media only screen and (max-width: $transition) {
  #body {
    width: 100vw;
    margin-left: 0;
  }
}