#body {
  position: absolute;
  width: 93vw;
  margin-left: 7vw;
  background-color: $background;
}

.stop-transitions * {
  transition: none !important;
}

@media only screen and (max-width: $transition) {
  #body {
    width: 100vw;
    margin-left: 0;
  }
}