#body {
  position: absolute;
  width: calc(96vw - 30px);
  margin-left: calc(4vw + 30px);
  background-color: $background;
  overflow-x: hidden;

  // &::-webkit-scrollbar {
  // display: none;
  // }

  // -ms-overflow-style: none;  
  // scrollbar-width: none; 
}



.stop-transitions * {
  transition: none !important;
}

#footer {
  background-image: linear-gradient(transparent, $background);
  position: fixed;
  height: 10vh;
  bottom: 0;
  width: 100%;
  z-index: 999;
  pointer-events: none;
}

#header {
  background-image: linear-gradient($background, transparent);
  position: fixed;
  height: 10vh;
  top: 0;
  width: 100%;
  z-index: 10000;
}

@media only screen and (max-width: $transition) {
  #body {
    width: 100vw;
    margin-left: 0;
  }

  #footer {
    display: none;
  }
}