$background: #9575CD;
$background-light: #f5b3a0;
$mirage-yellow: #FFCC66;
$mirage-yellow-light: #FFF176;
$mirage-orange: #FFA759;
$mirage-pastel: #F29E74;
$mirage-contrast: #FF8F00;
$mirage-dark-orange: #FF6F00;
$mirage-light-orange: #fca465;
$nav: #FBC02D;
