#loading-page {
  width: 100vw; height: 100vh;
  background-color: $background;
}

#loading-container {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);

  > div:first-child {
    box-shadow: inset 0px 0px 0px 3px $mirage-yellow;
    border-radius: 7px;
    width: 20vw;
    min-width: 250px;
    padding: 10px;
    height: 30px;
    
    > span {
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 4px;
      background-color: $mirage-yellow;
      animation: 2s loading linear;
    }
  }

  > div:last-child {
    text-align: center;
    font-family: $jost;
    font-size: 30px;
    margin: 5px;
    color: $mirage-yellow;
  }
}

@keyframes loading {
  0% {width: 0%;}
  100% {width: 100%;}
}