#about-me {
  height: 95vh;
}

#about-me-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: inherit;
  margin: auto;  
}

#about-me-content {
  margin: auto;

  display: flex;

  > div:last-child {
    display: flex;
    align-items: center;
    width: 50%;

    > div {
      animation: 1.25s appear ease-in-out;
      color: $mirage-yellow-light;
      font-size: calc(2vw + 3px);
      font-weight: bold;
      font-family: $hk-grotesk;
      position: relative;
      margin: auto;
      text-shadow: 3px 3px $mirage-contrast, 2.5px 2.5px $mirage-contrast, 2px 2px $mirage-contrast, 
      1.5px 1.5px $mirage-contrast, 1px 1px $mirage-contrast, .5px .5px $mirage-contrast;

      > span:first-child {
        font-size: calc(2vw + 15px);
      }

      > span:not(:first-child){
        > a {
          display: inline-block;
          font-size: calc(2vw + 3px);
          position: relative;
          cursor: pointer;
          z-index: 5;

          &::after {
            z-index: 15;
            position: relative;
            content: ""; 
            display: block; 
            margin: -2px auto;
            width: 85%; 
            border-bottom: 3px solid $mirage-yellow-light; 
            box-shadow: 3px 3px $mirage-contrast, 2.5px 2.5px $mirage-contrast, 2px 2px $mirage-contrast, 
            1.5px 1.5px $mirage-contrast, 1px 1px $mirage-contrast, .5px .5px $mirage-contrast;
          }
        }

        &:hover {
          color: $mirage-light-orange;
          text-shadow: 3px 3px $mirage-dark-orange, 2.5px 2.5px $mirage-dark-orange, 2px 2px $mirage-dark-orange, 
          1.5px 1.5px $mirage-dark-orange, 1px 1px $mirage-dark-orange, .5px .5px $mirage-dark-orange;

          > a::after {
            border-color: $mirage-light-orange;
            box-shadow: 3px 3px $mirage-dark-orange, 2.5px 2.5px $mirage-dark-orange, 2px 2px $mirage-dark-orange, 
          1.5px 1.5px $mirage-dark-orange, 1px 1px $mirage-dark-orange, .5px .5px $mirage-dark-orange;
          }
        }
      }
    }
  }
}

#picture {
  height: fit-content;
  margin: auto;

  > img {
    animation: 1.25s appear ease-in-out;
    position: relative;
    padding: 40px 0;
    z-index: 100;
    display: block; 
    margin: auto;
    width: 30vw; height: 30vw;
    max-height: 400px; max-width: 400px;
    min-height: 275px; min-width: 275px;
    border-radius: 50%;
    object-fit: cover;
  }
}

@media only screen and (max-width: $smoothing) {
  #about-me-content {
    flex-direction: column;
    margin: 0;
    height: inherit;

    > div:first-child{
      height: 50%;
    }

    > div:last-child {
      height: 45%;
      width: 100%;
      > div {
        width: 90%;
        padding-bottom: 20px;
        font-size: calc(1vw + 15px);

        > span:first-child {
          font-size: calc(1vw + 20px)
        }

        > span:not(:first-child) > a {
          font-size: calc(1vw + 15px);
        }
      }
    }
  }

  #picture {
    margin: auto;

    > img {
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
      padding: 0;
      width: 300px;
      height: 300px;
    }
  }
}

@keyframes expand {
  0% { transform: scale(1) }
  50% { transform: scale(1.1) }
  100% { transform: scale(1) }
}