#about-me-container {
  border: 1px solid white;
  position: relative;
  width: 80%;
  height: 80%;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

#about-me {
  background-color: black;
  color: white;

  > div:not(#typewriter){
    font-size: 20px;
    font-weight: bold;
    font-family: $jost;
    position: relative;
    opacity: .7;
  }
}

#picture {
  border: 1px solid white;
  width: 50%
}