#typewriter {
  width: fit-content;
  color: white;
  margin: auto;
}

#typewriter div {
  -webkit-backface-visibility: hidden;
  font-size: 30px;  
  font-weight: bold;
  font-family: $jost;
  overflow: hidden;
  border-right: 2px solid white; 
  border-color: transparent;
  white-space: nowrap;
  margin: 0 auto;
}

@keyframes typing {
  0% { width: 0 }
  50% { width: 100% }
  60% { width: 100% }
  90% {  width: 0% }
  100% { width: 0% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}