#typewriter {
  color: $mirage-yellow-light;
  width: fit-content;
  margin: 50px auto 0;
}

#typewriter div { 
  -webkit-backface-visibility: hidden;
  width: 100%;
  text-shadow: 5px 5px $mirage-dark-orange, 4.5px 4.5px $mirage-dark-orange, 4px 4px $mirage-dark-orange, 
    3.5px 3.5px $mirage-dark-orange, 3px 3px $mirage-dark-orange, 2.5px 2.5px $mirage-dark-orange, 2px 2px $mirage-dark-orange, 
    1.5px 1.5px $mirage-dark-orange, 1px 1px $mirage-dark-orange, .5px .5px $mirage-dark-orange;
  letter-spacing: 2px;
  font-size: calc(3vw + 20px);  
  font-weight: bold;
  font-family: $jost;
  overflow: hidden;
  border-right: 4px solid $mirage-yellow-light; 
  border-color: transparent;
  white-space: nowrap;
  margin: auto;
}

@keyframes typing {
  0% { width: 0 }
  50% { width: 100% }
  60% { width: 100% }
  90% {  width: 0% }
  100% { width: 0% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $mirage-yellow-light; }
}

@media only screen and (max-width: $transition) {
  #typewriter {
    margin: 20px auto 10px;

    > div {
      font-size: calc(1vw + 20px);
    }
  }
}