#skills {
  width: 90%;
  margin: auto;
  border: 1px solid white;
  display: flex;

  > div {
    width: 50%;
  }
}

@media only screen and (max-width: 950px) {
  #skills {
    flex-direction: column;

    > div {
      width: 100%;
    }
  }
}