#nav-bar {
  position: fixed;
  z-index: 1000;
  width: calc(4vw + 30px);
  height: 100vh;
  background-color: $mirage-yellow;
  // box-shadow: ;
  color: $background;
  font: $jost;
  box-shadow: 0 0 10px $mirage-yellow; 
  transition: width 300ms ease;

  &:hover {
    width: 12vw;
  }

  > div {
    display: flex;
    flex-direction: column;

    > button {
      // text-align: left;
    }
  }
}

@media only screen and (max-width: $transition) {
  #nav-bar {
    transition: none;
    height: 8vh;
    width: 100vw;
    bottom: 0;
    pointer-events: none;
  }
}