#nav-bar {
  z-index: 100;
  width: 100%;
  overflow: auto;
  font-family: $jost;
  background-color: black;
  color: white;
  border: 1px solid black;

  * {
    font-size: 18px;
  }

  > div {
    float: right;
    padding: 10px;
    margin-left: 10px;

    display: flex;
    > button {
      font-family: $jost;
      margin: 0 10px;
    }
  }
}
